@charset "utf-8";
/* CSS Document */

*{margin: 0;
padding: 0;
box-sizing: border-box;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s linear;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";}



html{
	font-size: 60%;
	overflow: hidden;
	overflow-y: scroll;
	scroll-padding-top:6rem;
	scroll-behavior:smooth;}
header{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: white;
	height: 60px;
	box-shadow:3px 2px 5px rgba(0,0,0,0.3);
	z-index: 1000;
	padding: 2rem 9%;
	align-items: center;
	justify-content: space-between;}
header .logo{
 	font-size: 2rem;
	margin-left:-2.3rem;
	padding:.5rem .8rem;
    color:black;
	font-weight:bolder;}
header .nav-bar a{
	position: relative;
	transition:1.3s ease;
	font-size: 1.5rem;
	color: black;
	margin: 0 1rem;}

header .nav-bar a:hover::after{
	content:"";
	display: block;
	transition:1.3s ease;
	background-color: black;
	position: absolute;
	width:100%;
	height:1.5px;
	left:0;
	margin:.3rem auto;
	transform-origin:left;
	font-size:2rem;
	color:#FB8B11;}

header .icons {
	font-size: 2rem;
	cursor: pointer;
	margin-left:2.5rem;
	color: black;}

header .icons .active1:hover{
	color: red;
	transform: scale(1.3);
}
header .icons .active2:hover{
	color:orange;
	transform: scale(1.3);}
header .icons .active3:hover{
	color:#333333;
	transform: scale(1.3);
}
header .seach {
	display: flex;
	flex-flow: wrap;
	height:4rem;
	margin-right: -3rem;
	position: relative;
	overflow: hidden;
margin-top:.3rem;
	border-radius:5rem;
			border:2px solid black;;
	width:25%;
	border-radius:1rem;}
header .seach .search{
	height:4rem;
	position: relative;
	border: none;
	outline: none;
	width: 100%;
	padding:2rem 1rem 3rem;}



#menu-bar{
	font-size: 2rem;
	padding: .5rem 1rem;
	border: .1rem solid black;
	color: black;
	border-radius: .3rem;
	cursor: pointer;
	display: none;}

section{padding: 2rem 9%;
}

.home{padding: 0;
position: relative;
}

.home .slide-container .slide{
	min-height:100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	cursor: pointer;
	gap:1.5rem;
	padding-top:9rem 9%;}
.home .slide-container .slide .content{
	cursor: pointer;
	animation: slide .5s linear 1s backwards;
	flex:  1 1 40rem;
	margin-left: 10.8rem;}
	
@keyframes slide{
	0%{
		opacity: 0;
		transform: translateX(-10rem);
	}
}
.home .slide-container .slide .imge{
	flex: 1 1 50rem;
	margin-right: -2rem;
	margin-top:16rem;
	position: relative;
	z-index: 0;}
.home .slide-container .slide .imge .nike{
	animation: shoe .3s linear;
	width:65%;
	transform: rotate(-3deg);}

@keyframes shoe{
	0%{
		transform: rotate(0deg) scale(.5);
	}
}
.home .slide-container .slide .content span{
		margin: 1.8rem;
	font-size: 2rem;
	color: #DE0B0E;}

.home .slide-container .slide .content h3{
		margin: 1.8rem;
	font-size: 5rem;
	color: #000;}


.home .slide-container .slide .content p{
	margin: 1.8rem;
	font-size:1.3rem;
	color:#494848;
	padding: .5rem 0;}
.btn{
	display: inline-block;
		margin: 1.8rem;
	margin-top: 1rem;
	border-radius: .5rem;
	border:.2rem solid #000;
	font-size: 1.7rem;
	font-weight:bolder;
	background: white;
	cursor: pointer;
	padding: .8rem 3rem;}



.btn:hover{
	background:orange;
	color: white;
	transition:0.8rem ease;
	cursor: pointer;
}
.home .slide-container{
	display: none;}
.home .slide-container.active{
	display: block;}


.home #prev,.home #next{
	position: absolute;
	top: 50%;
	margin-top:2.6rem;
	cursor: pointer;
	transform: translateY(-50%);
	z-index: 100;
	height: 5rem;
	width: 5rem;
	line-height: 4.5rem;
	font-size: 2rem;
	border-radius: 50%;
	padding-left: 1.5rem;
	color: black;
	border:.2rem solid black;
	cursor: pointer;}


.home #prev:hover,.home #next:hover{
	color: white;
	background:orange;
}

.home #prev{
	left:0.9rem;
}

.home #next{
	margin-top:2.8rem;
	right:1.5rem;
}

/*==========end home=======*/


.product .box-container{
	cursor: pointer;
display: flex;
	margin-top:1.8rem;
	flex-wrap: wrap;
	gap:10.5rem}

 .product .box-container .box{
	border: .1rem solid rgba(0,0,0,.1);
	border-radius:.5rem;
	text-align: center;
	 height:100%;
	 padding-bottom: 1.3rem;
	position: relative;
	overflow: hidden;
	background: #FFFEFE;
	 flex: 1 1  30rem;}
.product .box-container .box-container .content{
	padding: 1.5rem	;}
 .product .box-container .box img{ 
	height: 20%;
	 width: 30%;
	filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.1));
	margin: 8rem 2rem;}
	
.product .box-container  .box:hover img{
	transform: rotate(-35deg) scale(1.2);
}

.product .box-container .box .icons{
	display: flex;
	flex-flow: column;
	position: absolute;}
.product .box-container .box .icons a{
	height: 4.5rem;
width: 5rem;
	line-height: 4.5rem;
	font-size: 2rem;
	cursor: pointer;
	margin-left: 0.8rem;
	color: #000;
	border: .1rem solid black;
	border-radius:0.4rem;
	background-color: #fff;
	margin-top:.5rem;}
.product .box-container .box .icons{
	display: flex;
	flex-flow: column;
	position: absolute;
	top: .5rem;
	left: -10rem;}
	
.product .box-container .box:hover .icons{
	left:1rem;}
.product .box-container .box .icons a:hover{
	color:white;
	background:orange}
.product .box-container .box .icons h3{
	color:black;
	font-size: 2.5rem;}


.product .box-container .box .content .price{
	color: #000;
	font-size: 1.8rem;
	font-weight: bolder;
	padding: 1rem 0;}
.product .box-container .box .content .price span{
	color: black;
	font-weight: 1.5rem;
	text-decoration: line-through;
	margin-left: 0.8rem;}
.product .box-container .box .content .stars{
	padding-bottom: 1rem;}
	
.product .box-container .box .content .stars i{
	font-size: 1.7rem;
	color: red;}
	
.product h1{
	font-size:3rem;
	font-weight: bolder;
	color:black;
	text-align: center;	
	margin:0.5rem 0 0 0}
.product h1 span{
	color: orange;
}
	
.product span{
	font-size:2.8rem;
	font-weight: bolder;
	color:black;
	padding-left: 0.5rem;
	margin:0.5rem 0 0 0.3rem;}

.featured .heading{
	font-size: 2.7rem;
	font-weight: bolder;
	margin-top: 2.8rem;
	padding-bottom: 3rem;
	text-align: center;}

	
.featured .heading span{
color: orange;
}

.featured .row{
	display: flex;
	padding-bottom: 3rem;
	padding-left:2rem;
	width:100%;
	padding-top: 3rem;
	flex-wrap: wrap;
	border: 1px solid black;
	gap:.1rem solid rgba(0,0,0,.1);
	border-radius: .5rem;
	background:#f9f9f9;
	align-items: center;
	margin: 1.5rem  0;}
.featured .row .content{
	cursor: pointer;
	margin-left:63rem;
	margin-top: -55rem;
	flex: 1 1 40rem;}
.featured .row .image-container{
	display: flex;
	gap:1.5rem;
	flex: 1 1 150rem;
	align-items: center;}
.featured .row .image-container .small-img{
	width: 10%;
}
.featured .row .image-container .big-img{
	padding: 1rem;
	width: 70%;
}
.featured .row .image-container .small-img img{
	cursor: pointer;
	border-radius:0.8rem;
padding: .1rem;
	border: 1px solid black;
	width:100%
}
.featured .row .image-container .big-img img{
	cursor: pointer;
	filter:drop-shadow(0.5rem 0.4rem 0.3rem rgba(0,0,0,0.1));
	width: 50%;
}

.featured .row .image-container .big-img img:hover{
	border-radius:0.8rem;
transform: scale(1.05);
}

.featured .row .content h3{
	font-size: 2.5rem;
	color: #000;}

.featured .row .content .stars{
	font-size: 1.7rem;
	margin-top:-2.5rem;
	color:orange;
	padding: 5rem 0;}

.featured .row .content p{
		margin-top:-2.8rem;
	font-size: 1.5rem;
	color: #666;
	padding: 1rem 0;}
.featured .row .content .btn{
	margin-left:-0.4rem; 
}

.featured .row .content .price{
	font-size: 2.5rem;
	color:#000;
	font-weight: bolder;}
.featured .row .content span{
	font-size: 1.5rem;
	color:#F84145;
	text-decoration: line-through;}

.blog .box-container{
	display: flex;
	flex-wrap: wrap;
	gap:1.5rem;}
.blog .box-container .box{
	flex: 1 1 30rem;
	text-align: center;
	border: .1rem solid rgba(0,0,0,.1);
	border-radius: .5rem;
	padding:2rem;
	background:#f9f9f9;}
	
.blog .box-container .box img{
	height: 10rem;
	width: 10rem;
	border-radius:50%;
	border:4px solid #ddd;
	margin: 1rem 0;
	object-fit: cover;}
.blog .box-container .box img:hover{
transform: scale(1.2);
}
.blog .box-container .box h3{
	font-size: 2rem;
	color: #000;}
	
.blog .box-container .box p{
	font-size:1.6rem;
	color: #666;
	padding: 1rem 0;}
.blog .box-container .box .stars i{
	color:orange;}

.blog .head{
	text-align: center;
	font-size: 2.5rem;
	padding: 1.3rem 0;
	font-weight:bolder;}
.blog .head span{
	color: orange;
}

.news{
	padding-top: .5em;
	padding-bottom: .5rem;}
	
.news .content{
	text-align: center;
	border: .1rem solid rgba(0,0,0,.1);
	background: 2rem;}
	
.news .content h3{
	color: black;
	font-size: 2.5rem;}
.news .content p{
	font-size: 1.5rem;
	color: #666;
	
	margin: 1rem auto;
	max-width: 60rem;}
.news .content form{
	margin: 1rem auto;
	max-width: 50rem;
	display: flex;}
.news .content  form .email{
	width: 100%;
	font-size: 1.7rem;
	color: #333;
	height:3.9rem;
	padding: 1rem;
	border: .2rem solid black;
	border-right:none;
	margin-top: 1rem;}


.news .content  form .btn{
	margin-left:-1rem;
	border-radius: none;}
	
 .credit  .box{
	padding: 2rem;
	 text-align: center;}

	
.credit  .box h3{
	font-size: 2rem;
}

/*==================responsive*/

@media(max-width:991px){
.featured .row{
	display: flex;
	padding-bottom: 3rem;
	padding-left:2rem;
	padding-top: 3rem;
	flex-wrap: wrap;
	border: 1px solid black;
	gap:.1rem solid rgba(0,0,0,.1);
	border-radius: .5rem;
	background:#f9f9f9;
	align-items: center;
	margin: 1.5rem  0;}
.featured .row .content{
	display:flex;
	flex-flow: column;
	margin-left:43rem;
	padding-right:6rem;
	margin-top: -30rem;
	flex: 1 1 40rem;}
	.featured .row .content .btn{
		display: flex;
		width:50%;
		height:3.8rem;
		margin: 1.8rem;
	margin-top: 1rem;
	border-radius: .5rem;
	border:.2rem solid #000;
	font-size: 1.4rem;
	font-weight:bolder;
	background: white;
	cursor: pointer;
		padding: .8rem 1.9rem;}
		
	.row .content .btn:hover{
		color: white;
		background: orange;
	}
	
.featured .row .content h3{
	font-size: 2rem;
	color: #000;}

.featured .row .content .stars{
	font-size: 1.7rem;
	margin-top:-2.8rem;
	color:orange;
	padding: 5rem 0;}

.featured .row .content p{
		margin-top:-3rem;
	font-size: 1rem;
	color: #666;
	padding: 1rem 0;}
.featured .row .content .btn{
	margin-left:-0.4rem; 
}

.featured .row .content .price{
	font-size: 2.5rem;
	color:#000;
	font-weight: bolder;}

	
}
/*==============tab===========*/
@media (max-width:768px){
	
	#menu-bar{
		margin-left:-2.2em;
		display: block;}
		
	.nav-bar{
		position:absolute;
		top:100%;
		left:-120%;
		width:100%;
background:#CAC5C5;
		border-top: .1rem solid rgba(0,0,0,0.1);}
	header .nav-bar a{
		font-size: 2rem;
		background: #fff;
		padding:0.5rem 1rem;
	border: .1rem solid #000;
		border-radius: .5rem;
		margin: 1rem;
		display: block;
		text-align: center;}
	
	
header .nav-bar.active{
		left: 0;
	}
	
	
	.featured .big-img{
		margin-left: -1.5rem;
	}
.featured .row .content{
	display:flex;
	flex-flow: column;
	margin-left:31rem;
	margin-top:-40rem;
	flex: 1 1 40rem;}

	.home .slide-container .slide{
		display: flex;
		flex-flow: column;
		margin-top:16rem;
		margin-left:-3.5rem;}
	.home .slide-container .imge{
		display: flex;
		justify-content: center;}
	
.featured .row .content h3{
	margin-top:15rem;
	font-size: 1.5rem;
	color: #000;}

.featured .row .content .stars{
	font-size: 1.2rem;
	margin-top:-3.5rem;
	color:orange;
	padding: 5rem 0;}

.featured .row .content p{
	margin-top:-5rem;
	font-size: 1rem;
	text-align-last: left;
	color: #666;
	padding: 1rem 0;}

.featured .row .content .price{
	font-size: 1.7rem;
	color:#000;
	font-weight: bolder;}
	

.featured .row .content span{
	font-size: 1.5rem;
	color:#F84145;
	text-decoration: line-through;}
	
		.featured .row .content .btn{
		display: flex;
		width:50%;
		height:3.1rem;
		margin: 1.8rem;
	margin-top: 1rem;
	border-radius: .5rem;
	border:.2rem solid #000;
	font-size:1.1rem;
	font-weight:bolder;
	background: white;
	cursor: pointer;
		padding: .7rem 2.3rem;}
	.featured .row .content .btn:hover{
		color: white;
		background:orange}
	.featured .row .content .btn{
		margin-left:-0.4rem;} 
	}

/*==============tab===========*/

@media (max-width:480px){
	

#menu-bar{
		margin-left:-2.3rem;
		display: block;}


	header .logo{
 	font-size:1.4rem;
	margin-left:0.4rem;
    color:black;
	font-weight:bolder;}
	header .seach {
	display: flex;
	flex-flow: wrap;
	height:2.8rem;
	margin-right:-1.5rem;
	position: relative;
	overflow: hidden;
margin-top:.3rem;
	border-radius:5rem;
border:2px solid black;;
	width:30%;
	border-radius:0.5rem;}
	
	header .seach .search{
	height:4rem;
	position: relative;
	border: none;
		font-size:0.8rem;
	outline: none;
	width: 100%;
	padding:1.4rem 0.7rem 3rem;}
	
	header .icons {
		display: flex;
		flex-wrap: wrap;
	font-size: 2rem;
		margin:3rem;
		font-size:1.5rem;
	margin-right:-2.4rem;
	color: black;}

	
.home .slide-container .slide{
		display: flex;
		flex-flow: column;
		margin-top:12rem;
		margin-left:-9rem;}
	.home .slide-container .imge{
		display: flex;
		justify-content: center;}
	
	.home .slide-container .slide  .content  h3{
		font-size:3rem;
	}
	.home .slide-container .slide  .content  p{
		font-size:1rem;}
	.home .slide-container .slide  .content .btn{
		margin-left:1.8rem;
		font-size:1.4rem;}
	
	.home .slide-container .slide .imge{
	flex: 1 1 50rem;
	margin-right: -2rem;
	margin-top:16rem;
	position: relative;
	z-index: 0;}
.home .slide-container .slide .imge .nike{
	animation: shoe .3s linear;
	width:45%;
	margin-top:-19rem;
	margin-left:3.1rem;
	height:50%;
	transform: rotate(-3deg);}
.home #prev{
		margin-top:-6.8rem;
	left:0.9rem;
}

.home #next{
	margin-top:-6.8rem;
	right:1.5rem;}
	.product{
		margin-top:-28rem;}

	.home .slide-container .slide{
		display: flex;
		flex-flow: column;
		margin-top:16rem;
		margin-left:-3.5rem;}
	.home .slide-container .imge{
		display: flex;
		justify-content: center;}
	
	
	
	.featured .row .content{
		width: 100%;
		flex-wrap: wrap;
		cursor: pointer;
	display:flex;
	flex-flow: column;
	margin-left:19rem;
	margin-top:-29rem;
	flex: 1 1 40rem;}
	.featured .row .content h3{
	font-size: 1.3rem;
	color: #000;}

.featured .row .content .stars{
	font-size: 1.3rem;
	margin-top:-3.3rem;
	color:orange;
	padding: 5rem 0;}

.featured .row .content p{
		margin-top:-4.2rem;
	font-size:0.9rem;
	color: #666;
	padding: 1rem 0;}

		.featured .row .content .btn{
		display: flex;
		width:70%;
		height:3.1rem;
		margin: 1.8rem;
			margin-left:-0.5rem;
	margin-top: 1rem;
	border-radius: .5rem;
	border:.2rem solid #000;
	font-size:0.9rem;
	font-weight:bolder;
	background: white;
	cursor: pointer;
		padding: .8rem 1rem;}

	.featured .row .content .btn:hover{
		color: white;
		background: orange;
	}
}

/*============









